<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>UIFileSharingEnabled</key>
        <true/>
        <key>LSSupportsOpeningDocumentsInPlace</key>
        <true/>
        <key>UISupportsDocumentBrowser</key>
        <true/>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>document</string>
                </array>
            </dict>
        </array>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeName</key>
                <string>officeopenxml</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>org.openxmlformats.openxml</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>data</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>public.data</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>ppt</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>com.microsoft.powerpoint.ppt</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>doc</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>com.microsoft.word.doc</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>xls</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>com.microsoft.excel.xls</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>pdf</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>com.adobe.pdf</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>archive</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>org.gnu.gnu-tar-archive</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>audivideo</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>public.audiovisual-content</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>image</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>public.image</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>txt</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>public.text</string>
                </array>
            </dict>
        </array>
    </dict>
</plist>
